<div class="list-group">
          <% categories.forEach(element => { %>
           <a href="/users/blogs" class="list-group-item list-group-item-action "><%= element %></a>
          <% }) %>
          
          
        </div>