<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/_head.ejs') %>
</head>

<body>
    <!-- Navbar -->
    <%- include('../partials/_nav.ejs') %>
        <div class="container mt-3">
            <div class="row">
                <div class="col-md-3">
                    <div class="list-group">
                        <%- include('../partials/_categegory-menu.ejs') %>
                    </div>

                </div>
                <div class="col-md-9">
                    <div class="card mb-3">
                        <div class="row">
                            <div class="col md-3">
                                <img src="/static/images/1.jpg" class="card-img-top" alt="...">
                            </div>
                            <div class="col-md-9">


                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and
                                </div>

                            </div>

                        </div>

                    </div>
                    <nav>
                        <ul class="pagination justify-content-center">
                            <li class="page-item">
                                <a href="" class="page-link">Geri</a>
                            </li>
                            <li class="page-item">
                                <a href="" class="page-link active">1</a>
                            </li>
                            <li class="page-item">
                                <a href="" class="page-link">2</a>
                            </li>
                            <li class="page-item">
                                <a href="" class="page-link">İleri</a>
                            </li>
                        </ul>
                    </nav>
                </div>
</body>

</html>